.flex-list-contact {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.link-icon-container {
  border-radius: 50%;
  background-color: white;
  border: 3px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.icon {
  padding: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}

.link-icon-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border: 3px solid rgb(86 219 211);
}

#gomail {
  color: rgb(218 38 48);
}

#gofile {
  color: rgb(234 192 23);
}

#gogithub {
  color: rgb(26 91 189);
}

#linkedin {
  color: rgb(82 81 82);
}

.icon-label-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
