.project-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 30px;
  margin: 10px;
  width: 100%;
  border: 2px solid transparent;
  font-weight: bolder;
}

.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(86 219 211);
}

.flip {
  text-align: right;
}

.project-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-outer-container {
  margin-bottom: 50px;
}

.text-card > a {
  text-decoration: none;
  font-weight: bolder;
}

.project-img {
  max-width: 30px;
  max-height: 30px;
  margin-left: auto;
}

.emoji {
  margin-left: auto;
}

.screenshot {
  max-width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.link-container {
  text-align: right;
}
